.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Color-Background-Secondary) ;
    height: 100vh;
    overflow: scroll;
}

.cart-container h1 {
    font: var(--Text-HeadingLarge);
    color: var(--Color-Text-Main);
    margin: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Color-Background-Secondary);
    padding: 20px;
    border-radius: 6px;
    gap: 12px;
}

.cart-item .thumbnail {
    width: 178px;
    height: 100px;
    object-fit: cover;
}

.cart-item {
    background-color: var(--Color-Background-Main50);
    padding: 12px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 178px 300px 100px 100px 120px;
    grid-template-areas: "thumbnail name platform price cta";
    gap: 12px;
    align-items: center;
}

.cart-item .name {
    font: var(--Text-HeadingSmall);
    color: var(--Color-Text-Main);
    grid-area: name;
}

.cart-item .price {
    font: var(--Text-HeadingSmall);
    color: var(--Color-Text-Main);
    grid-area: price;
    font-weight: 700;
}

.cart-summary {
    background-color: var(--Color-Background-Main50);
    padding: 12px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 580px 1fr;
    grid-template-areas: "text cta";
    width: 850px;
    gap: 12px;
    padding: 12px;
}

.cart-summary #text {
    font: var(--Text-HeadingSmall);
    color: var(--Color-Text-Main);
}

.cart-summary .price-total {
    grid-area: cta;
}

.cart-summary .button {
    grid-area: cta;
    width: min-content;
    justify-self: end;
}