.button {
    color: var(--Color-Text-Main);
    background-color: var(--Color-Background-Highlight);
    font: var(--Text-BodyMedium);
    border-radius: 3px;
    border: none;
    padding: 12px 24px;
}

.button:hover {
    color: var(--Color-Text-Main);
    background-color: var(--Color-Background-Hover);
    cursor: pointer;
}

.button--primary {
    background: var(--Color-Secondary);
}

.button--primary:hover {
    color: var(--Color-Background-Main);
    background: var(--Color-Primary);
    cursor: pointer;
}

.button--action {
    background: var(--Gradient-Button-Action);
    font-weight: 700;
}

.button--action:hover {
    background: var(--Color-Primary);
    cursor: pointer;
}

.button--play {
    background-color: var(--Color-Accent-Green);
    color: var(--Color-Background-Main);
    font-weight: 700;
}

.button--play:hover {
    background: var(--Color-Accent-Green-Highlight);
    color: var(--Color-Background-Main);
}

.button--grouping {
    padding: 8px 16px;
    background: none;
    color: var(--Color-Text-Main);
    font-weight: 300;
}

.button--grouping:hover, .button--grouping.active {
    background: var(--Color-Background-Hover);
    color: var(--Color-Text-Main);
}

.tag {
    color: var(--Color-Text-Main);
    background-color: var(--Color-Secondary);
    font: var(--Text-BodySmall);
    border-radius: 3px;
    padding: 3px 6px;
    margin: 3px;
}

.tags {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.tags.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 3px;
    max-height: 300px;
    overflow: scroll;
}

.tag.menuitem:hover {
    background-color: var(--Color-Background-Hover);
    cursor: pointer;
}