:root {
    /* Fonts */
    --Text-HeadingLarge: normal 700 26px/1.4 "Motiva Sans", Arial, sans-serif;
    --Text-HeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, sans-serif;
    --Text-HeadingSmall: normal 700 18px/1.4 "Motiva Sans", Arial, sans-serif;
    --Text-BodyLarge: normal 400 16px/1.4 "Motiva Sans", Arial, sans-serif;
    --Text-BodyMedium: normal 400 14px/1.4 "Motiva Sans", Arial, sans-serif;
    --Text-BodySmall: normal 400 12px/1.4 "Motiva Sans", Arial, sans-serif;

    /* Gap */
    --Gap-Small: 6px;
    --Gap-Medium: 12px;
    --Gap-Large: 24px;

    /* Colors */
    --Color-Text-Main: #f3f3f3;
    --Color-Text-Dim: #76808c;
    --Color-Primary: #66c0f4;
    --Color-Secondary: #4b619b;
    --Color-Background-Main: #0e141b;
    --Color-Background-Main50: rgba(14, 20, 27, 50%);
    --Color-Background-Highlight: #1e2329;
    --Color-Background-Hover: #313843;
    --Color-Background-Secondary: #14344b;
    --Color-Background-Tertiary: #212b45;
    --Color-Accent-Green: #a1cd44;
    --Color-Accent-Green-Highlight: #b9eb4e;
    --Color-Accent-Red: #cd5444;
    --Color-Accent-Yellow: #c1b15f;
    --Color-Background-System: #3D4450;
    
    /* Gradients */
    --Gradient-Button-Action: linear-gradient(270deg, #00BBFF 0%, #1A9FFF 100%);
    --Gradient-Background-Main: linear-gradient(90deg, var(--Color-Background-Tertiary) 0%, var(--Color-Background-Secondary) 100%);
    --Gradient-Background-System: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);
}

@font-face {
    font-family: "Motiva Sans", Arial, sans-serif;
    src: url(../fonts/MotivaSans.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: var(--Color-Background-Main);
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-areas: "logo nav action";
    align-items: center;
    padding: 12px 0px;
}

header nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
}

header nav a{
    font: var(--Text-HeadingSmall);
    color: var(--Color-Text-Main);
    text-decoration: none;
    padding: 0px 12px;
}

header nav .super-navbar-active {
    text-decoration: underline;
    text-decoration-line: 2px;
    color: var(--Color-Primary);
}

header nav a:hover{
    color: var(--Color-Primary);
}

#global-action {
    grid-area: action;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
}

#global-action a{
    text-decoration: none;
    color: var(--Color-Text-Main);
    font: var(--Text-BodyMedium);
    margin: 0px var(--Gap-Medium);
}

#global-action a:hover{
    color: var(--Color-Primary);
    /* background-color: var(--Color-Background-Highlight); */
}

.logo {
    grid-area: logo;
    color: var(--Color-Text-Main);
    text-decoration: none;
    padding: 2px 30px 0 30px;
    height: 37px;
}

.sub-navbar {
    display: grid;
    grid-template-areas: 
    "left search right";
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
    padding: 0px 24px;
    background-color: var(--Color-Background-Tertiary);
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
}

.sub-navbar .searchbar {
    grid-area: search;
    justify-self: end;
    background-color: var(--Color-Secondary);
    border-radius: 3px;
    border: none;
    padding: 8px 12px;
    margin: 6px;
    width: 300px;
    color: var(--Color-pri);
}

.sub-navbar-left {
    grid-area: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub-navbar-right {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sub-navbar-left a,
.sub-navbar-right a{
    font: var(--Text-BodyMedium);
    color: var(--Color-Text-Main);
    text-decoration: none;
    padding: 0px 12px;
    margin: 0px 3px;
}

.sub-navbar a.item-active,
.sub-navbar-left a:hover,
.sub-navbar-right a:hover {
    background-color: var(--Color-Secondary);
    border-radius: 3px;
    padding: 8px 12px;
}

footer {
    background-color: var(--Color-Background-Main);
    height: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "connection info .";
}

footer > * {
    padding: 24px;
}

footer .footer__connection, 
footer .footer__info {
    color: var(--Color-Text-Main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer__connection {
    grid-area: connection;
}

footer .footer__connection a, 
footer .footer__info a {
    font: var(--Text-BodyMedium);
    color: var(--Color-Text-Dim);
    text-decoration: none;
    margin-top: 24px;
}

footer .footer__info {
    grid-area: info;
}

.platform-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.platform-list img {
    justify-content: center;
    padding: 4px;
    width: 20px;
}