:root {
    /* Text Color */
    --TextMain: #F3F3F3;
    --TextDim: #76808C;
    
    /* Background Color */
    --BgMain: #0E141B;
    --BgMain50: rgba(14, 20, 27, 50%); 
    --BgHighlight: #1E2329;
    --BgHover: #313843;
    --BgSecondary: #14344B;
    --BgTertinary: #212B45;

    /* Color Scheme */
    --ColorPrimary: #66C0F4;
    --ColorSecondary: #4B619B;

    /* Accent Color */
    --AccentGreen: #A1CD44;
    --AccentGreenHi: #5ba32b;
    --AccentRed: #CD5444;
    --AccentYellow: #C1B15F;

    /* Font Variants */
    --HeadingNormal: normal 700 18px/1.4 "Motiva Sans", Arial, sans-serif;
    --BodyNormal: normal 400 12px/1.4 "Motiva Sans", Arial, sans-serif;
    --BodyLarge: normal 400 14px/1.4 "Motiva Sans", Arial, sans-serif;


}

@font-face {
    font-family: "Motiva Sans";
    src: url(../fonts/MotivaSans.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    font: var(--BodyNormal);
}


/* Header */
.header {
    background-color: var(--BgMain);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50px;
}

.header__item {
    color: var(--TextMain);
    text-decoration: none;
    padding: 2px 30px;
    margin: 5px 0px;
    font: var(--HeadingNormal)
}

.header__item--active {
    color: var(--ColorPrimary);
    text-decoration: underline 2px;
}

.header__item:hover {
    color: var(--ColorPrimary);
}

.header__item--userside {
    margin: 0px 15px;
    padding: 10px 15px;
    font-weight: 400;
    border-radius: 3px;
}

#global-action {
    position: absolute;
    right: 0;
}

.logo {
    padding: 2px 30px 0 30px;
    height: 34px;
}

/* Navigator Bar */
.navbar {
    background-color: var(--BgTertinary);
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__item {
    font: --BodyNormal;
    text-decoration: none;
    color: var(--TextMain);
    margin: 0px 15px;
    padding: 5px 15px;
    border-radius: 3px;
}

.navbar__item:hover, .navbar__item--active{
    background-color: var(--ColorSecondary);
    padding: 10px 15px;
}

.navbar__searchBar, .navbar__searchBar {
    background-color: var(--ColorSecondary);
    border-radius: 3px;
    height: 30px;
    color: var(--ColorPrimary);
    border: none;
    padding: 0 48px 0 16px;
}

.navbar-userside {
    position: absolute;
    right: 0;
}

/*  Body  */
.main {
    background-color: var(--BgSecondary);
    display: flex;
    flex-direction: column;
}

label {
    font: var(--HeadingNormal);
    color: var(--TextMain);
    align-self: center;
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 12px;
}

/* Section */
.section {
    border-radius: 3px  ;
    width: 1000px;
    display: flex;
    align-self: center;
    margin: 0px 10px 50px 50px;
    background-color: var(--BgMain50);
    box-shadow: var(--ShadowLight);
}

.section--horizontal-flow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: scroll;
    padding: 8px;
}

.section--vertical-flow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 12px;
    padding: 8px;
}

.feature {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__banner {
    width: 550px;
    height: 350px;
    object-fit: cover;
}

.feature__description {
    display: block;
    flex-direction: row;
    color: var(--TextMain);
    padding: 20px;
    height: 300px;
}

.feature__showcase {
    display: flex;
}

.feature__showcase img{
    height: 89px;
    padding: 5px;
}

.chevron {
    width: 36px;
}       

.price {
    display: inline;
    background-color: var(--BgSecondary);
    padding: 5px;
    border-radius: 3px;
}

.supported-platform {
    width: 50%;
}

/* Card */
.card {
    background-color: var(--BgMain);
    text-decoration: none;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 12px;
    border-radius: 6px;
}

.card > img {
    width: 280px;
    height: 158px;
    object-fit: cover;
}

.card__action {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.card__action > *{
    padding: 0px 12px;
}

.card__title {
    color: var(--TextMain);
    font: var(--BodyLarge);
    padding: 8px 12px 8px 0px;
    margin: 0px 0px 12px 0px;
    font-weight: 700;
    font-size: 16px;
}

#dim-text {
    color: var(--TextDim);
    font: var(--BodyNormal);
}


.card__description {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.card--horizontal {
    display: grid;
    text-decoration: none;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas:
        "img title title"
        "img . action";
    column-gap: 8px;
}

.card--horizontal .card--horizontal__img {
    width: 173px;
    height: 76px;
    object-fit: cover;
    grid-area: img;
}

.card--horizontal .card__title {
    padding: 0px;
    grid-area: title;
}

.card--horizontal .card__action {
    grid-area: action;
}

.card__price {
    text-decoration: none;
    color: var(--TextMain);
    font-weight: 700;
}

